* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6f8;
  font-family: "Segoe UI", sans-serif;
}
/* Hide scrollbar but keep scrolling */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
html {
  scrollbar-width: none;
}